body {
  margin: 50px;
  padding: 0;
}
h1 {
    margin-top: 10px;
  }
  
  p {
    margin: 0;
  }
  
  h2 {
    display: inline;
  }
  
  a {
    font-size: medium;
    text-decoration: none;
    color: black;
  }
  
  a:hover {
    text-decoration: underline;
    color: rebeccapurple;
  }
  
  ul {
    list-style: none;
    padding-left: 0;
  }
  
  h3 {
    font-size: large;
  }
  
  .container {
    border: 2px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    margin-top: 70px;
    font-family: "Source Serif Pro", serif;
    max-width: 800px;
  }

  #description {
    text-transform: capitalize;
  }
  .card {
    border: none;
  }
  
  .main-image {
    display: block;
    margin: 10px;
    width: 100px;
    float: right;
  }
  
  .small-cards:hover {
    transition: all 200ms ease-in-out;
    background-color: #f7f7f9;
    border-radius: 0.25rem;
  }
  
  .small-images {
    display: block;
    margin: 0 auto;
    width: 30px;
  }
  
  .card-title,
  .card-text {
    text-align: center;
  }
  
  .max-temp {
    font-weight: bold;
  }
  