body {
  margin: 50px;
  padding: 0;
}

h1 {
  margin-top: 10px;
}

p {
  margin: 0;
}

h2 {
  display: inline-block;
  margin-top: 15px;
}

ul {
  list-style: none;
  padding-left: 0;
  font-size: 14px;
}

a {
  font-size: medium;
  text-decoration: none;
  color: rebeccapurple;
}

a:hover {
  text-decoration: underline;
  color: rebeccapurple;
}

.card-body .active {
  color: black;
  cursor: default;
}

.card-body .active:hover {
  text-decoration: none;
}

h3 {
  font-size: large;
}

footer, a {
  font-size: 14px;
}

footer {
  padding-bottom: 10px;
  text-align: right;
}

.container {
  border: 2px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin-top: 70px;
  font-family: "Source Serif Pro", serif;
  max-width: 800px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#description:first-letter {
  text-transform: capitalize;
}

.card {
  border: none;
}

.unit-divider {
  font-size: small;
}

.main-image {
  display: block;
  margin: 10px;
  width: 100px;
  float: right;
}

.small-cards:hover {
  transition: all 200ms ease-in-out;
  background-color: #F7F3FF;
  border-radius: 0.25rem;
}

.small-images {
  display: block;
  margin: 0 auto;
  width: 30px;
}

.card-title,
.card-text {
  text-align: center;
}

.max-temp {
  font-weight: bold;
}
